<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Raleway&display=swap" rel="stylesheet">
    <title>Echo | Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="nav_bar">
            <div class="logo">
                <img src="../static/images/echo_logo.png" alt="Echo Logo">
            </div>
            <div class="nav_right">
                <div class="searchbar">
                    <input type="text" placeholder="Search for artists, songs, etc">
                </div>
                <div class="linksBar">
                    <a href="/post/new" class="links"> Create Post |</a>
                    <a href="/user/profile" class="links"> My Profile |</a>
                    <a href="#" class="links"> My Friends |</a>
                    <a href="/logout" class="links"> Logout </a>
                </div>
            </div>
        </div>
        {% for one_post in all_posts %}

        <div class="feed">
            <div class="user_info">
                <div class="profile_pic">
                    <img src="../static/images/default_pic.png" alt=" default user icon">
                </div>
                <div class="poster_info">
                    <h2>{{one_post.author.first_name}} <br> {{one_post.author.last_name}}</h2>
                    <p>{{one_post.created_at}}</p>
                </div>
            </div>
            <div class="content">
                {{one_post.content}}
            </div>
            <div class="actions">
               <button id="clickme"> Likes</button>
               <button onclick="myalert()">Comment</button>
               <button onclick="myalert()">Echo</button>
               {%if one_post.user_id == user.id%}
               <a href="/post/delete/{{one_post.id}}" class="post_edit">Delete Post</a>
               <a href="/post/edit/{{one_post.id}}" class="post_edit">Edit Post</a>
               {%endif%}
            </div>
        </div>
        {%endfor%}
    </div>
    <script>
        function myalert() {
            alert("This feature is still in development! Please check back later :)");
        }
    </script>
</body>
</html>